@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// Import custom variables and Bulma overides
@import "./variables.scss";

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/layout/footer.sass";
@import "bulma/sass/helpers/spacing.sass";

// Fix for transparent background on active nav items
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: inherit;
}


* {
  box-sizing: border-box;
  // border: 2px solid red;
}


 html, body, #app {
  height: 100%;
  width: 100%;
}

.profileInfo {
  box-sizing: border-box;
  border: 2px solid black;
}

.navbar navbar-brand{
  margin: 0 auto;
}

#app {
  // display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 100%;
  align-items: stretch;
  // padding: 1em;
}

header {
  display: flex;
  flex-flow: row nowrap;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #fbf3e5c4;
} 

.nav-footer {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  background-color: #fbf3e5c4;
} 

main {
  flex-grow: 1;
  width: 100%;
  // padding: 1em;
}

.title {
  color: #3b6464;
  line-height: revert !important;
}

header, nav {
  flex-shrink: 0;
  width: 100%;
  color: #3b6464;
  background-color: #fbf3e5c4;
}

a {
  color: inherit;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

.navbar {
  background-color: #fbf3e5c4;
}

.nav-icon {
  margin: 0.2em;
}

body {
  overflow: hidden; /* Hide scrollbars */
}
.preview-cols {
  display: flex;
  flex-direction: row;
}

.card{
 padding: 0px 20px 20px 20px;
}

.preview-title{
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

// .map_box_container{
//   position: relative;
//   height: 100% !important;
//   width: 100% !important;
// }

//   #map {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     width: 100%;
//   }
