@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

// Import custom variables and Bulma overides
@import "./variables.scss";

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/layout/footer.sass";
@import "bulma/sass/helpers/spacing.sass";

// Fix for transparent background on active nav items
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: inherit;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  background-color: #fbf3e5c4;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.mapboxgl-popup-close-button {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  background-color: transparent;
  font-size: 40px;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon {
  width: 50px;
  height: 50px;
}

.mapboxgl-ctrl-group{
  background-color: black;
  width: 0;
}

.mapboxgl-ctrl-geolocate{
  margin: 80vh 0 0 80vw;
  background-color: red !important;
}

.mapboxgl-ctrl-geolocate:focus{
  box-shadow: none !important;
}

.mapboxgl-ctrl-icon{
  border-radius: 50px !important;
  background-color: white !important;
}

.profile-container {
  text-align: center;
  padding: 10px;
  background-color: white;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
  border: 1px solid #00000033;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding: 1em;
}

.logoutButton {
  margin: 10px;
  padding: 10px;
  width: 50%;
}

.field {
  width: 100% !important;
}

.label {
  text-align: left;
}

.topProfile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2em;
  width: 100%;
}

#app {
  flex-direction: row;
  min-height: 100%;
  width: 100%;
  align-items: stretch;
  background-color: #fbf3e5c4;
  margin: 0;
}

header {
  display: flex;
  flex-flow: row nowrap;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #fbf3e5c4;
}

.nav-footer {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  background-color: #fbf3e5c4;
  box-shadow: 0px -1px 20px #a49b9847;
}

main {
  flex-grow: 1;
  width: 100%;
}

.title {
  color: #3b6464;
  line-height: revert !important;
  text-align: center;
}

header,
nav {
  flex-shrink: 0;
  width: 100%;
  color: #3b6464;
  background-color: #fbf3e5c4;
}

a {
  color: inherit;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

.navbar-main {
  background-color: #fbf3e5c4;
  box-shadow:  0px 1px 20px 0px #a49b9847;
}
.navbar {
  background-color: #fbf3e5c4;
}
.nav-icon {
  margin: 0.2em;
  cursor: pointer;
}

.nav-icon:hover {
  color: #363636;
}

body {
  overflow: hidden;
}

.preview-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  margin: 1em;
}

.preview-title {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form > input,
.field {
  width: 50%;
}

.control {
  display: flex;
  justify-content: space-evenly;
}

.button {
  background-color: #817d74;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

//--------------------------  THESE ARE THE STYLES FOR MOBILE ONLY -------------------//
@media only screen and (max-width: 600px) {
  .form > input,
  .field,
  .profileInfo,
  .topProfile {
    width: 100%;
  }

  .form, .profile {
    width: 95% !important ;
  }

  .radio-group {
    display: flex;
    justify-content: center;
  }

  .login-container {
    padding: 1em;
  }

  .subtitle {
    text-align: center;
  }

  .password-container,
  .name-container {
    flex-direction: column !important;
  }

  .textarea:not([rows]) {
    min-height: 6em !important;
  }

  .login-container {
    height: unset !important;
    overflow-y: scroll;
  }

  .mapboxgl-ctrl-geocoder--input {
    width: 200px;
  }

  .form-container {
    padding: 2em;
    margin-top: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important
  }

  .field:not(:last-child) {
    margin-bottom: 0.75rem !important;
  }

  .side-bar {
    overflow: scroll;
    margin-bottom: auto;
    height: 100%;
    background-color:#fbf3e5 !important;
    position: fixed;
    z-index: 234567890;
    transition: left 600ms ease-in-out;
  }

  .side-bar-open {
    width: 100% !important;
  }

  .right-side-bar {
    overflow: scroll;
    margin-bottom: auto;
    height: 100%;
    background-color:#fbf3e5 !important;
    position: fixed;
    z-index: 234567890;
    transition: left 600ms ease-in-out;
  }

  .right-side-bar-open {
    width: 100% !important;
  }

  .logoutButton {
    margin: 10px;
    padding: 10px;
    width: 100%;
  }

  body {
    overflow: scroll !important; 
  }

  .add, .profile-title {
    display: none !important;
  }

  .add-btn-grp {
    border: 0px !important;
  }

  
  .right-side-bar-closed, .side-bar-closed {
    display: flex;
    justify-content: center;
    align-items: center;
  }
} // end

//---------------------------------------------//

.field:not(:last-child) {
  margin-bottom: 2.75rem;
}

.textarea:not([rows]) {
  min-height: 6em;
}

.form, .profile {
  width: 60%;
}

.form-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.media-content,
.media-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly !important;
  align-items: center;
  margin: 1em;
}

.mapboxgl-ctrl-top-right {
  top: 95px;
  right: 25px;
}
.mapboxgl-ctrl-geocoder--input {
  height: 50px;
}

.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password-container,
.name-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.column {
  margin: 1em;
}

header.navbar {
  display: flex;
  align-items: center;
}

.form-container {
  height: 100%;
}

.mapboxgl-ctrl-icon {
  background-color: #fbf3e5;
  width: 20px;
}

.mapboxgl-ctrl-group > button {
  width: 40px;
  height: 40px;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  word-wrap: break-word;
  width: 200px;
}

.popup:first-child {
  margin-bottom: 2em;
}


h1:first-letter, h2:first-letter {
  text-transform:capitalize;
}

.toggle-menu {
  z-index: 234567891;
  position: fixed;
  margin-top: 20px;
}

//----------  for desktop screens only --------//
.side-bar {
  margin-bottom: auto;
  min-height: 100vh;
  background-color: #fbf3e5c4;
  position: fixed;
  z-index: 234567890;
  transition: left 800ms ease-in-out;
  top: 0;
}

.side-bar-open {
  left: 0px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-closed {
  left: -2000px;
  width: 40%;
  transition: left 800ms ease-in-out;
}

.right-side-bar {
  margin-bottom: auto;
  min-height: 100vh;
  background-color: #fbf3e5c4;
  position: fixed;
  z-index: 234567890;
  transition: right 800ms ease-in-out;
  top: 0;
}

.right-side-bar-open {
  right: 0px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side-bar-closed {
  right: -2000px;
  width: 40%;
  transition: right 800ms ease-in-out;
}
// ---------------------- //
@media screen and (min-width: 640px){
.mapboxgl-ctrl-geocoder {
  width: 100% !important;
  max-width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .mapboxgl-ctrl-geocoder--input {
      width: 100% !important;
  }
}

input[type=radio] {
  border: 0px;
  width: 100%;
  height: 2em;
}

.Food{
  color: #c98c37;
}

.Furniture{
  color: #66ce2a;
}

.Clothes{
  color: #8ed6d1;
}

.Stuff{
  color: #ca7070;
}

.food-icon {
  color: #c98c37;
}

.furniture-icon {
  color: #66ce2a;
}

.clothes-icon {
  color: #8ed6d1;
}

.stuff-icon {
  color: #ca7070;
}

.add-btn-grp {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.add {
  padding-left: 0.5em;
  font-weight: bold;
}

.profile-title {
  padding-right: 0.5em;
  font-weight: bold;
}

.right-side-bar-closed, .side-bar-closed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-icon {
  margin-left: 0.5em;
}